.header {

    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(78, 52, 21, 0.699);
    margin-bottom: 3%;

}

.headerCenter {

    margin-top: 300px;
    position: absolute;


}

.headerCenter>img {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 120px;
    margin-right: 40px;
    margin-top: 150px;
}

.headerLeft>h1 {
    font-size: 40px;
    color: black;
}

.headerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerRight>ul {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: relative;
    left: 400px;
    border: 2px;

}

.headerRight>li {
    border: 2px;
    border-color: brown;
}